extends layout

block content
  h1= title
  p #{description}
  br
  
  a(href="/LandTitle" class="btn btn-success") LandTitle
  br
  br
  
  a(href="/SalesAgreement" class="btn btn-success") SalesAgreement
  br
  br
  
  a(href="/Person" class="btn btn-success") Person
  br
  br
  
  
  a(href="/trx/RegisterPropertyForSale" class="btn btn-primary") RegisterPropertyForSale
  br
  br
  
  a(href="/Transaction" class="btn btn-danger") Transactions
  br
  br
